<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">The Simple Bar</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li>
            <a
              class="nav-link {{ routeName == 'homepage' ? 'active' : '' }}"
              href="{{ path('homepage') }}"
            >
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          {% for category in categories %}
            <li class="nav-item">
              <a
                class="nav-link {{ categoryId == category.id ? 'active' : '' }}"
                href="{{ path('category', { 'id' : category.id })}}"
              >
                {{ category.name }}
              </a>
            </li>
          {% endfor %}
        <li class="nav-item">
            <a
                class="nav-link {{ routeName == 'statistic' ? 'active' : '' }}"
                href="{{ path('statistic') }}"
            >
                Statistic
            </a>
        </li>
          <li class="nav-item">
              <a
                class="nav-link {{ routeName == 'mention' ? 'active' : '' }}"
                href="{{ path('mention') }}"
              >
                Mention
              </a>
          </li>
        </ul>
    </div>
</nav>
