{% extends 'base.html.twig' %}

{% block title %}The Bar - Beer{% endblock %}

{% block body %}
    <div class="wrapper row">
        <div class="sidebar col-sm-6">
            Sidebar
        </div>
        <div class="bar col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="{{ asset('build/images/beer.jpeg') }}" alt="{{ beer.name }}">
                    <h5 class="card-title">Name: {{ beer.name }}</h5>
                    <p class="card-text">Description: {{ beer.description }}</p>
                    <p class="card-text">Price: {{ beer.price }} €</p>
                    <p class="card-text">Degree: {{ beer.degree }}</p>
                    {% if beer.country is defined %}
                        <p class="card-text">
                            Country: <a href="{{ path('country', { id: beer.country.id }) }}">{{ beer.country.name }}</a>
                        </p>
                    {% endif %}
                    <p class="card-text">Categories: {{ categories | join(', ') }}</p>
                    <p class="card-text">Evaluation: {{ evaluation }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
