{% extends 'base.html.twig' %}

{% block title %}Hello BeerController!{% endblock %}

{% block body %}
    <div class="wrapper row">
        <div class="sidebar col-sm-6">
            Sidebar
        </div>
        <div class="bar col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="{{ asset('build/images/beer.jpeg') }}" alt="">
                    <h5 class="card-title">Name: {{ beer.name }}</h5>
                    <p class="card-text">Description: {{ beer.description }}</p>
                    <p class="card-text">Price: {{ beer.price }} €</p>
                    <p class="card-text">Degree: {{ beer.degree }}</p>
                    <p class="card-text">Country: {{ beer.country.name }}</p>
                    <p class="card-text">Special categories: {{ categories | join(', ') }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
