{% extends 'base.html.twig' %}

{% block title %}The Bar - Quotes{% endblock %}

{% block body %}
{% include 'flash/message.html.twig' %}
    <div class="wrapper row">
        <div class="sidebar col-sm-6">
            Sidebar
        </div>
        <div class="bar col-sm-6">
            <div class="row">
                {% for quote in quotes %}
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ quote.title|raw }}</h5>
                            <p class="card-text">{{ quote.content|raw }}</p>
                            <p class="card-text">{{ quote.position }}</p>
                            <p class="card-text">{{ quote.createdAt|date("m/d/Y") }}</p>
                            <div class="row" style="margin-left: 0">
                                <a href="{{ path('quote_modify', { 'id': quote.id }) }}" class="btn btn-primary mr-2">
                                    Modify
                                </a>
                                <form method="post" action="{{ path('quote_delete', { 'id': quote.id }) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    {#                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quote.id) }}">#}
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
